/* background-color: #f5f5f6; */
.header {
    width: 100%;
    background: #f5f5f6;;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
  
    .container {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 5%;
      display: flex;
      align-items: center;
      height: 80px;
      justify-content: space-between;
    }
  
    .logo {
      font-size: 28px;
      font-weight: bold;
      color: #222;
      flex: 0 0 auto;
    }
  
    .nav-area {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
    }
  
    nav {
      margin-left: 10%;
      
      .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
  
        li {
          position: relative;
          a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #222;
            font-size: 16px;
            transition: color 0.3s ease;
  
            &:hover {
              color: #007BFF;
            }
          }
  
          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            min-width: 200px;
            z-index: 500;
  
            li a {
              padding: 10px 20px;
              color: #222;
              white-space: nowrap;
              transition: background-color 0.3s, color 0.3s;
  
              &:hover {
                background-color: #f8f9fa;
                color: #007BFF;
              }
            }
          }
  
          &:hover .dropdown-menu {
            display: block;
          }
        }
      }
    }
  
    .contact-btn {
      margin-left: 30px;
  
      button {
        background-color: #5e17eb;;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      margin-left: 20px;
  
      span {
        height: 3px;
        width: 25px;
        background: #333;
        margin: 4px 0;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
    }
  
    @media (max-width: 992px) {
      nav, .contact-btn {
        display: none;
      }
  
      nav.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: white;
        padding-bottom: 20px;
        z-index: 999;
      }
  
      nav .nav-links {
        flex-direction: column;
  
        li a {
          padding: 15px 0;
        }
      }
  
      .hamburger {
        display: flex;
      }
    }
  }
  