<footer class="footer">
    <!-- Row 1: Social Media Links -->
    <div class="footer-row row-1">
      <div class="follow-us">Follow Us</div>
      <div class="social-icons">
        <a href="" target="_blank"><img src="icons/linkedin.svg" class="icon-white" alt="LinkedIn" /></a>
        <a href="" target="_blank"><img src="icons/twitter-x.svg" class="icon-white" alt="Twitter" /></a>
        <a href="" target="_blank"><img src="icons/instagram.svg" class="icon-white" alt="instagram" /></a>
      </div>
    </div>
  
    <!-- Row 2: Company Information -->
    <div class="footer-row row-2">
      <div class="column">
        <h4>Company</h4>
        <ul>
          <li><a href="about-us">About Us</a></li>
          <li><a href="carrers-for-you">Careers</a></li>
          <li><a href="blogs">Blog</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Links</h4>
        <ul>
          <li><a href="terms_condition&privacy_policy">Privacy Policy</a></li>
          <li><a href="terms_condition&privacy_policy">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Address</h4>
        <p>501-1/5,indira nilaya,gowlidoddi,finacial district,
          KVRangareddy,500082</p>
      </div>
    </div>
  
    <!-- Row 3: Copyright Notice -->
    <div class="footer-row row-3">
      <p>© 2025 Velocity Developers — Fast. Responsive. Reliable. All rights reserved.
      </p>
    </div>
</footer>
  